.about {
    padding: 60px 0;
    overflow: hidden;

    &__title {
        padding-bottom: 30px;

        h2 {
            font-size: 32px;
            font-weight: bold;
            color: #173b6c;
            position: relative;
            margin-bottom: 20px;
            padding-bottom: 20px;

            &::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 3px;
                background: #149ddd;
                bottom: 0;
                left: 0;
                display: block;
            }
        }
    }

    img {
        border-style: none;
        vertical-align: middle;
    }

    .content {

        h3 {
            font-weight: 700;
            font-size: 26px;
            color: #173b6c;
        }

        ul {
            padding: 0;
            list-style: none;
        }

        li {
            padding-bottom: 10px;
        }

        i {
            font-size: 20px;
            padding-right: 2px;
            color: #149ddd;
        }

    }

}