.about {
    padding: 85px 0;

    h2 {
        margin-bottom: 65px;
        font-size: 30px;
    }

    p {
        line-height: 1.55;
        color: #333333;        
    }

    .stats-row {
        margin-top: 65px;
    }

    .circle {
        font-weight: 500;
        color: #666666;
        border: 6px solid #199EBB;
        border-radius: 50%;
        position: relative;
        height: 160px;
        width: 160px;
        padding: 55px 25px 0 25px;
        display: inline-block;
    }

    .stats-no {
        width: 70px;
        height: 70px;
        color: #ffffff;
        background-color: #E04F00;
        font-size: 18px;
        border-radius: 50%;
        position: absolute;
        top: -25px;
        right: -15px;
        font-weight: 700;
        line-height: 4;
    }

}