.cta {
    padding: 25px 0;
    background: #199EBB;

    h2,p {
        color: #ffffff;
    }

    h2 {
        margin-bottom: 5px;
        font-size: 30px;
    }

    p {
        margin-bottom: 0;
        opacity: .75;
    }

    .btn-ghost {
        position: relative;
        top: 13px;
    }

}