#footer {
    background: #f1f0f2;
    color: #444444;
    font-size: 14px;
}

.footer-top {
    padding: 60px 0 30px 0;
    background: #f9f8f9;

    h4 {
        font-size: 16px;
        font-weight: bold;
        color: #444444;
        position: relative;
        padding-bottom: 12px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {

            &:first-child {
                padding-top: 0;
            }

            display: flex;
            align-items: center;
            padding: 10px 0;
        }

        i {
            color: #00c28e;
            font-size: 10px;
            line-height: 1;
            padding-right: 10px;
        }

        a {
            color: #777777;
            transition: 0.3s;
            line-height: 1;
            display: inline-block;
        }

    }

    .footer-contact,
    .footer-links {
        margin-bottom: 30px;
    }

    .footer-newsletter form {
        margin-top: 30px;
        background: #ffffff;
        padding: 6px 10px;
        border-radius: 50px;
        text-align: left;
        border: 1px solid #e4e3e6;
        position: relative;

        input[type="email"] {
            border: 0;
            padding: 4px 8px;
            width: calc(100% - 100px);
        }

        input[type="submit"] {
            background: $color-secondary-background;
            color: #ffffff;
            font-size: 16px;
            border: 0;
            padding: 0 20px;
            border-radius: 50px;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            position: absolute;
            top: 0;
            right: -2px;
            bottom: 0;
        }

    }

}

.back-to-top {
    
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 99999;

    i {
        width: 40px;
        height: 40px;
        background: $color-secondary-background;
        color: $color-secondary-text;
        font-size: 24px;
        border-radius: 50px;
        transition: all 0.4s;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
}


.social-links {
    a {        
        background: $color-secondary-background;
        color: $color-secondary-text;
        width: 36px;
        height: 36px;
        display: inline-block;
        text-align: center;
        line-height: 1;
        font-size: 18px;
        margin-right: 4px;  
        border-radius: 50%;
        transition: 0.3s;
        padding: 8px 0;
    }
}