.team {
    padding: 85px 0;

    h2 {
        color: #199EBB;
        font-size: 30px;
        margin-bottom: 65px;
    }

    .col-sm-3 {
        padding: 0;
    }

    .card-block {
        position: relative;
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        overflow: hidden;

        &:hover .team-over{
            opacity: 1;
            visibility: visible;
        }

        &:hover .card-title-wrap {
            background-color: #199EBB;
        }

        &:hover .card-title-wrap .card-title,
        &:hover .card-title-wrap .card-text {
            color: #ffffff;
        }

        img {
            width: 100%;
        }

        .card-title-wrap {
            background-color: #ffffff;
            position: relative;
            padding: 15px 25px;
            z-index: 9;
        }

        .card-title,
        .card-text {
            margin: 0;
            display: block;
        }

        .card-title {
            font-size: 24px;
            color: #333333;
        }

        .card-text {
            font-size: 18px;
            color: #999999;
        }
    }

    &-over {
        padding-top: 45px;
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: all 0.3s ease;
        visibility: hidden;
        opacity: 0;


        h4 {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 18px;
        }

        .social-nav {
            margin-bottom: 45px;

            a {
                color: #ffffff;
                font-size: 16px;
                margin: 0 4px;
            }
        }

        p {
            font-size: 11px;
            color: #ffffff;
            opacity: 0.75;
            margin: 0;
            padding: 0 35px;
        }



    }

}